body {
  background-color: white;
  font-family: 'Sriracha', cursive;
  color: navy;
  font-weight: 400;
  line-height: 1;
  max-width: 350px;
}
div {
  margin: 10px;
  border: 2px solid tomato;
}
h2 {
  margin-left: 40px;
  text-decoration: none;
}
ul > li {
  list-style-type: none;
  /*display: block;*/
}
li {
  display: flex;
  flex-direction: row;
}
.load {
  display: none;
}
img {
  max-width: 36px;
  max-height: 40px;
  margin: 2px;
}
button {
  background-image: linear-gradient(yellowgreen,beige);
  text-align: center;
  border: 1px solid lightgreen;
}
.newButton {
  background-image: linear-gradient(skyblue,beige);
  text-align: left;
  border: 1px solid royalblue;
}
button, .newButton {
  width: 200px;
  padding: 10px;
  margin: 5px;
}
button:hover, .newButton:hover {
  cursor: pointer;
  background: royalblue;
  color: white;
}
@media all and (max-width: 500px) {
  div {
    margin: 5px;
    border: none;
  }
  h2 {
    margin-left: 10px;
    text-decoration: none;
  }
  button {
    background-image: linear-gradient(yellowgreen,beige);
    text-align: center;
    border: .5px solid lightgreen;
  }
  .newButton {
    background-image: linear-gradient(skyblue,beige);
    text-align: left;
    border: .5px solid royalblue;
  }
  button, .newButton {
    font-size: 12px;
    width: 150px;
    padding: 5px;
    margin: 3px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px) {
  h2 {
    margin-left: 30px;
    text-decoration: none;
  }
}

@media all and (max-width: 750px) {
  h2 {
    margin-left: 40px;
    text-decoration: none;
  }
}
.pokey {
  float: ; /* image will be placed on left side with regard to the child item */
  max-width: 500px;
  height: 200px;
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: red;
  }

  50% {
    fill: blue;
  }

  100% {
    fill: green;
  }
}

.eyes {
  animation: 4s color-change infinite alternate linear;
}


@keyframes left-leg-stamp {
  /* to move the smaller cloud from left to right */
  from {
    transform: translate(0px, 40px);
  }

  to {
    transform: translate(0px, 60px);
  }
}

.left-leg {
  animation: .5s left-leg-stamp infinite alternate linear;
}

@keyframes tail-2-shake {
  /* to move the smaller cloud from left to right */
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(20px, 20px);
  }
}

.tail-2 {
  animation: .5s tail-2-shake infinite alternate linear;
}

@keyframes tail-2-color-change {
  0% {
    fill: #ffd700;
  }

  50% {
    fill: #ff8f32;
  }

  100% {
    fill: #ff7400;
  }
}

.tail-2 {
  animation: 4s tail-2-color-change infinite alternate linear;
}
